version: "3.9"

services:
  frontend:
    image: image-uploader-frontend:v2
    container_name: frontend-con1
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - backend

  backend:
    image: image-uploader-backend:v2
    container_name: backend-con1
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env